[submodule "radar_ws/src/ros2_serial"]
	path = radar_ws/src/ros2_serial
	url = git@github.com:Alliance-Algorithm/ros2-serial.git
[submodule "radar_ws/src/ros2_tcp_endpoint"]
	path = radar_ws/src/ros2_tcp_endpoint
	url = https://github.com/Lisiiii/ROS-TCP-Endpoint.git
	branch = main-ros2
